<?xml version="1.0"?>
<config>
    <modules>
        <Kingento_Core>
            <version>0.1.0</version>
        </Kingento_Core>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Kingento_Core>
                    <files>
                        <default>Kingento_Core.csv</default>
                    </files>
                </Kingento_Core>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <kingento_core>
                <class>Kingento_Core_Model</class>
                <resourceModel>kingento_core_resource</resourceModel>
            </kingento_core>
            <kingento_core_resource>
                <class>Kingento_Core_Model_Resource</class>
            </kingento_core_resource>
            <directory>
                <rewrite>
                    <currency>Kingento_Core_Model_Directory_Currency</currency>
                </rewrite>
            </directory>
        </models>
        <helpers>
            <kingento_core>
                <class>Kingento_Core_Helper</class>
            </kingento_core>
        </helpers>
    </global>
</config>